{% load static %}
<section id="about" class="about">
    <div class="img-about">
        <img src="{% static 'image/face.png' %}" alt="">
        <div class="info-about1">
            <span>1+</span>
            <p>Years of Experience with python</p>
        </div>
        <div class="info-about2">
            <span>10+</span>
            <p>Projects do with python</p>
        </div>
        <div class="info-about3">
            <span>2+</span>
            <p>Yers of Experience with graphic designer</p>
        </div>
    </div>
    <div class="about-content">
        <span>Let me introduce myself</span>
        <h2>About Me</h2>
        <h3>A story of good</h3>
        <p>I am a passionate Fullstack Developer with extensive expertise in web, software, and mobile development. Holding a degree in Computer Science with a specialization in Information Systems and Software Engineering, I combine strong academic knowledge with practical experience to design, develop, and deliver tailored solutions that meet the specific needs of my clients. I am fully available to take on various projects, committed to delivering high-quality performance and ensuring client satisfaction.</p>
        <div class="btn-box">
            <a href="www.linkedin.com/in/tholde-rftn" class="btn">Read More!</a>
        </div>
    </div>
</section>