<section id="services" class="services">
    <div class="main-text">
        <span>what i will do for you</span>
        <h2>Our Services</h2>
    </div>
    <div class="section-services">
        <div class="service-box">
            <i class="bx bx bx-code-alt service-icon"></i>
            <h3>Full-Stack Web Developer</h3>
            <p>Specialize in building dynamic, responsive, and scalable web applications. My expertise spans both front-end and back-end technologies, allowing me to create seamless user experiences and robust server-side functionality. Try to visit my skills to explore my knowledge.</p>
            <div class="btn-box service-btn">
                <a href="www.linkedin.com/in/tholde-rftn" class="btn">Read More</a>
            </div>
        </div>
        <div class="service-box">
            <i class="bx bx-images service-icon"></i>
            <h3>Graphic Designer</h3>
            <p>Specialize in creating visually compelling and impactful designs that help businesses and individuals stand out. My work focuses on blending creativity with functionality, designing promotional materials, or crafting engaging visuals for digital platforms.</p>
            <div class="btn-box service-btn">
                <a href="www.linkedin.com/in/tholde-rftn" class="btn">Read More</a>
            </div>
        </div>
        <div class="service-box">
            <i class="bx bx-desktop service-icon"></i>
            <h3>Software Developer</h3>
            <p>Specialize in designing and building reliable and efficient software solutions tailored to meet clients’ needs. My expertise includes developing scalable applications, debugging complex systems, and optimizing processes to enhance performance.</p>
            <div class="btn-box service-btn">
                <a href="www.linkedin.com/in/tholde-rftn" class="btn">Read More</a>
            </div>
        </div>
        <div class="service-box">
            <i class="bx bx-mobile service-icon"></i>
            <h3>Mobile App Developer</h3>
            <p>Specialize in creating user-friendly, mobile applications for both Android and iOS platforms. My expertise includes building intuitive designs, developing scalable and efficient apps, and implementing innovative solutions tailored to meet specific client requirements.</p>
            <div class="btn-box service-btn">
                <a href="www.linkedin.com/in/tholde-rftn" class="btn">Read More</a>
            </div>
        </div>
    </div>
</section>